@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2  style="font-style:italic;">Personalized travel planning for you, just sit back and relax.</h2>
	<img style="width:70%;" src="~/images/airplane.jpg">
	<h3>Flights</h3>
</div>
